{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/style/error.css">
{% endblock styles %}

{% block title %}
    <title>Erro :(</title>
{% endblock title %}


{% block content %}
<div class="error">
    <div class="error-text">
        <img src="/assets/x.svg" alt="Erro">
        <h1>Aconteceu algo de errado :(</h1>
        <h3>Tente novamente</h3>
    </div>
</div>
{% endblock content %}