{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/style/index.css">
{% endblock styles %}

{% block title %}
    <title>Rocketseat</title>
{% endblock title %}

{% block content %}
    <div class="video">
        
        <div class="card" id="{{ item.id }}">
            <div class="card-video-container">
                <iframe src="https://youtube.com/embed/{{ item.id }}" frameborder="0"></iframe>
            </div>
            <div class="card-content">
                <h1>{{ item.title }}</h1>
            </div>
            <div class="card-info">
                <p>{{ item.duration }}</p>
                <p class="card-price">{{ item.price }}</p>
            </div>
        </div>
        
    </div>
{% endblock content %}




